
* {
    overflow: auto;
}

body { 
    background-color: #8BA1BB;
    font-family: arial;
    margin: 0;
   }

p.cat {
   background-color: black;
   color: white;
   display: inline-block;
   margin-top: -30px;
   padding: 8px 18px;  
   margin-bottom: 0px;
   font-weight: bold;
   font-size: 16px;
   overflow: visible;
}

div.cat {
   margin-top: 0px;
   margin-bottom: 0px;
   overflow: visible;
}

div.contenu {
   margin: 40px 8px 40px 8px;
   background-color: whitesmoke;
   padding: 0px 8px 8px 8px;
   box-shadow: 0px 0px 10px 10px #00000054;
   overflow: visible;
    
}

h1 { 
   text-align: center;
   margin-bottom: 12px;
   margin-top: 10px;
}

p.description {
   text-align: center;
   max-width: 400px;
   display: inline-block;
   font-size: 14px;
   
}
.centre {
   text-align: center;
   width: 100%;
}

div.separateur {
   width: 100px;
   height: 1px;
   background-color: rgb(189, 185, 185);
   margin-left: auto;
   margin-right: auto;                   
}
table.info {
  position: absolute;
  bottom: 0;
  width: 100%; 
  color: white; 
  background-color: #6c829dC0; 
  height: 50px
}
table.info td {
   text-align: center;
   font-size: 12px;
   vertical-align: top;
}
table.info th {
   text-align: center;
   font-size: 14px;
   vertical-align: bottom;
   padding: 8;
}
div.info{
  position: relative;
}
img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: blanchedalmond;
}
div.colonne {
    width: 100%;
    margin-top: 20px;

}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6c829dC0;
    padding-bottom: 5px;
}

div.colonne1 {
    display: inline-block;
     
}
div.ingred p {
    text-align: center;
    border: 1px solid lightgrey;
    padding: 8px 0px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0px;
}

table.preparation p.numero {
    background-color: #6c829d;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0px;
}

table.preparation td {
    vertical-align: top;

}

table.preparation td.prepa_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 5px;

}


table.preparation tr {
   height: 40px;

}

@media only screen and (min-width: 768px) {
    div.contenu {
        background-color: whitesmoke;
        margin: 60px 10% 80px 10%;
        min-width: 350px;       
        padding: 0px 30px 30px 30px;
        box-shadow: 0px 0px 10px 10px #00000054;
        overflow: visible;
    }
    table.info {
       height: 80px
      }

      table.info td {      
        font-size: 14px;       
     }
     table.info th {
        font-size: 16px;
    }

    div.colonne {
        width: 45%;
        margin-top: 20px;
    
    }     
    div.colonne1 {      
        margin-right: 10%;      
    }
    div.colonne2 {
        float: right;
    }


}

@media only screen and (min-width: 900px) {
    div.contenu {
      margin-left: auto;
      margin-right: auto;
      width: 645px;
    }
}